<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<BaselinersImmuneLabel>Baseliners Immune</BaselinersImmuneLabel>
	<BaselinersImmuneDesc>Baseliners cannot get oripathy or blood originium buildup.\n\nOriginium will never harm you.</BaselinersImmuneDesc>
	<InfectionMonitorLabel>Infection Monitor Required for Tracking</InfectionMonitorLabel>
	<InfectionMonitorDesc>Infection monitors are required to show oripathy and originium buildup severities.</InfectionMonitorDesc>
	<AbandonOripathicCorpsesLabel>Autoabandon oripathic corpses</AbandonOripathicCorpsesLabel>
	<AbandonOripathicCorpsesDesc>Automatically abandon oripathic corpses when an infected dies in a caravan. Avoids infecting other caravan members.</AbandonOripathicCorpsesDesc>
</LanguageData>