<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<BaselinersImmuneLabel>Baseliners Immune</BaselinersImmuneLabel>
	<BaselinersImmuneDesc>Baseliners cannot get oripathy or blood originium buildup.\n\nOriginium will never harm you.</BaselinersImmuneDesc>
	<DebugModeLable>Debug Mode</DebugModeLable>
	<DebugModeDesc>Enables more logging for debugging purposes</DebugModeDesc>
	<InfectionMonitorLabel>Infection Monitor Required for Tracking</InfectionMonitorLabel>
	<InfectionMonitorDesc>Infection monitors are required to show oripathy and originium buildup severities.</InfectionMonitorDesc>
	<AbandonOripathicCorpsesLabel>Autoabandon oripathic corpses</AbandonOripathicCorpsesLabel>
	<AbandonOripathicCorpsesDesc>Automatically abandon oripathic corpses when an infected dies in a caravan. Avoids infecting other caravan members.</AbandonOripathicCorpsesDesc>
	<GlobalOripathyChanceLabel>Global Oripathy chance</GlobalOripathyChanceLabel>
	<GlobalOripathyChanceDesc>Base chance that any generated pawn has oripathy. Overriden by Ideo Oripathic chance when set</GlobalOripathyChanceDesc>
	<ResetSettings>Reset Settings</ResetSettings>
</LanguageData>